div {
    background-color: yellow;
}

/* form {
    background-color: red;
} */

/* Input , button do not inherit property ,we have to do like this for inheritance */
input {
    background-color: inherit;
}

button {
    background-color: inherit;
}