<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3><%= ["hello", "bonjour", "namaste"][2] %></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repudiandae deserunt harum, dolor earum perferendis nihil dicta, omnis dolore maiores nisi! Neque architecto cum quidem. Cum deserunt odit quam vero!</p>
    <button>click me!</button>
</body>
</html>