/* Percentage unit-->changing the size wrt parent */
h1 {
    border: 2px solid black;
    width: 50%; /* 50% wrt main body */
}

#outer {
    height: 400px;
    width: 400px;
    background-color: pink;
    margin: 50px;

}

#inner {
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    margin-left: 10%; /* 10% wrt to height and width of outer div */
}